<header>
  <a href="/" class="header-not-home"><h1>Finstagram</h1></a>
  <div class="login-info">
    <% if current_user %>
      <%= current_user.username %>
      <a href="/logout" class="top-bar-content">Logout</a>
    <% else %>
      <a href="/login" class="top-bar-content">Login</a>
      <a href="/signup" class="top-bar-content">Signup</a>
    <% end %>
  </div>
</header>

<ul class="errors">
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<form action="/signup" method="POST" class="full-form">
  <p></p>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="<%= @user.email %>">
  </div>
  <div class="form-group">
    <label for="avatar_url">Avatar URL</label>
    <input type="text" id="avatar_url" name="avatar_url" value="<%= @user.avatar_url %>">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<%= @user.username %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <div class="form-group">
    <button class="button" type="submit">Signup</button>
  </div>
</form>